mixin sort()
        div(sort)
            select(

                class="form-control form-control-sm"
                name="sort"
                sort-select
            ) 
                option(value="position-asc" selected) Vị trí tăng dần
                option(value="position-desc") Vị trí giảm dần
                option(value="price-asc") Giá tăng dần
                option(value="price-desc") Giá giảm dần
                option(value="createdAt-asc") Ngày tạo tăng dần
                option(value="createdAt-desc") Ngày tạo giảm dần
            
            button(class="btn btn-danger btn-sm ml-1" ,sort-clear) Xóa bộ lọc
                        
            